In [1]:
import os
os.chdir('../')

## Imports

In [2]:
import pandas as pd
from lightgbm import LGBMClassifier
from sklearn.ensemble import ExtraTreesClassifier

from src.develop.grid_search import GridSearch

## Data Collect

In [4]:
df_model = pd.read_csv("notebooks/outputs/df_model.csv")
df_model["dt_calendar"] = pd.to_datetime(df_model["dt_calendar"])

print(df_model.shape)
df_model.head()

(7307, 21)

,dt_calendar,id_imobiliaria,lat_imob,long_imob,is_active,is_activated,is_commun_first_90days,is_debelado,is_debelado_first_4months,is_indemnified,...,is_indemn_first_6months,vl_locacao,is_churn,exonerated_first_6months,rating_A,rating_B,rating_C,rating_D,rating_E,target
0,2017-11-01,215,-31.77,-52.34,277.0,29.0,0.0,8,0.0,1,...,0,1001.96,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,2017-12-01,215,-31.77,-52.34,293.0,22.0,0.0,2,0.0,0,...,0,1013.40,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2018-01-01,215,-31.77,-52.34,306.0,17.0,0.0,9,0.0,2,...,0,1092.53,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-02-01,215,-31.77,-52.34,340.0,36.0,0.0,10,0.0,1,...,0,928.49,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018-02-01,389,-25.43,-49.26,492.0,87.0,0.0,5,0.0,1,...,0,1248.20,6.0,0,0.0,0.0,0.0,0.0,0.0,0.0

## Grid Search

In [6]:
lgbm = LGBMClassifier()
et = ExtraTreesClassifier()

In [7]:
grid_et = GridSearch(df=df_model, estimator="et")
grid_lgbm = GridSearch(df=df_model, estimator="lgbm")

best_params_et = grid_et.fit(cutoff_date="2022-06")
best_params_lgbm = grid_lgbm.fit(cutoff_date="2022-06")

(4423, 10) (4423,)
(4423, 10) (4423,)

In [8]:
print(f"""
ET: {best_params_et}
LGBM: {best_params_lgbm}
""")

ET: {'bootstrap': True, 'min_samples_leaf': 6, 'n_estimators': 300, 'random_state': 5}
LGBM: {'colsample_bytree': 0.5, 'learning_rate': 0.006, 'max_depth': 3, 'metric': 'auc', 'n_estimators': 300, 'objective': 'binary', 'random_state': 5, 'subsample': 0.4}